@import 'tailwindcss';
@source "../node_modules/@stablepay/client-ui";
@source "../node_modules/@stablepay/ui-base";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
